In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [362]:
data = pd.read_csv('C:/Users/DELL/Downloads/Feature Engineering/mercedes/train.csv/data.csv')

In [390]:
data.drop(data.iloc[0:,0:6],axis=1,inplace=True)

In [326]:
data.drop(data.iloc[0:,6:],axis=1,inplace=True)

In [391]:
data.shape

(4209, 51)

In [392]:
data.head(2)

,X1-as,X1-ae,X1-ai,X1-m,X1-ak,X1-r,X1-n,X1-s,X1-f,X1-e,...,X6-g,X6-j,X6-d,X6-i,X6-l,X6-h,X6-a,X6-k,X6-c,X6-f
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [393]:
for col in data.columns:
    print(col, ': ', len(data[col].unique()), 'Labels')

X1-as :  1 Labels
X1-ae :  1 Labels
X1-ai :  1 Labels
X1-m :  2 Labels
X1-ak :  1 Labels
X1-r :  2 Labels
X1-n :  2 Labels
X1-s :  2 Labels
X1-f :  2 Labels
X1-e :  2 Labels
X2-as :  2 Labels
X2-ae :  2 Labels
X2-ai :  2 Labels
X2-m :  2 Labels
X2-ak :  2 Labels
X2-r :  2 Labels
X2-n :  2 Labels
X2-s :  2 Labels
X2-f :  2 Labels
X2-e :  2 Labels
X3-c :  2 Labels
X3-f :  2 Labels
X3-a :  2 Labels
X3-d :  2 Labels
X3-g :  2 Labels
X3-e :  2 Labels
X3-b :  2 Labels
X4-d :  2 Labels
X4-b :  2 Labels
X4-c :  2 Labels
X4-a :  2 Labels
X5-v :  2 Labels
X5-r :  2 Labels
X5-p :  2 Labels
X5-w :  2 Labels
X5-af :  2 Labels
X5-ad :  2 Labels
X5-ac :  2 Labels
X5-n :  2 Labels
X5-l :  2 Labels
X5-s :  2 Labels
X6-g :  2 Labels
X6-j :  2 Labels
X6-d :  2 Labels
X6-i :  2 Labels
X6-l :  2 Labels
X6-h :  2 Labels
X6-a :  2 Labels
X6-k :  2 Labels
X6-c :  2 Labels
X6-f :  2 Labels

In [367]:
pd.get_dummies(data,drop_first=True).shape

(4209, 121)

In [385]:
data.X4.value_counts().sort_values(ascending=False).head(20)

d    4203
b       4
c       1
a       1
Name: X4, dtype: int64

In [369]:
top_10 = [x for x in data.X1.value_counts().sort_values(ascending=False).head(10).index]

In [370]:
def one_hot_top_x(df , variable, top_x_labels):
    for label in top_x_labels:
        data[variable+'-'+label]=np.where(data[variable]==label, 1 , 0)

data = pd.read_csv('C:/Users/DELL/Downloads/Feature Engineering/mercedes/train.csv/data.csv', usecols=['X1','X2','X3','X4','X5','X6'])

,X1,X2,X3,X4,X5,X6,X1-as,X1-ae,X1-ai,X1-m,X1-ak,X1-r,X1-n,X1-s,X1-f,X1-e
0,v,n,f,d,t,a,0,0,0,0,0,0,0,0,0,0
1,b,ai,a,d,b,g,0,0,0,0,0,0,0,0,0,0

In [394]:
data.shape

(4209, 51)

In [383]:
top_10 = [x for x in data.X4.value_counts().sort_values(ascending=False).head(10).index]

In [384]:
top_10

['d', 'b', 'c', 'a']

In [380]:
one_hot_top_x(data, 'X6', top_10)
data.head(2)

,X1,X2,X3,X4,X5,X6,X1-as,X1-ae,X1-ai,X1-m,...,X6-g,X6-j,X6-d,X6-i,X6-l,X6-h,X6-a,X6-k,X6-c,X6-f
0,v,n,f,d,t,a,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,b,ai,a,d,b,g,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [381]:
data.shape

(4209, 57)

In [382]:
data.columns

Index(['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X1-as', 'X1-ae', 'X1-ai', 'X1-m',
       'X1-ak', 'X1-r', 'X1-n', 'X1-s', 'X1-f', 'X1-e', 'X2-as', 'X2-ae',
       'X2-ai', 'X2-m', 'X2-ak', 'X2-r', 'X2-n', 'X2-s', 'X2-f', 'X2-e',
       'X3-c', 'X3-f', 'X3-a', 'X3-d', 'X3-g', 'X3-e', 'X3-b', 'X4-d', 'X4-b',
       'X4-c', 'X4-a', 'X5-v', 'X5-r', 'X5-p', 'X5-w', 'X5-af', 'X5-ad',
       'X5-ac', 'X5-n', 'X5-l', 'X5-s', 'X6-g', 'X6-j', 'X6-d', 'X6-i', 'X6-l',
       'X6-h', 'X6-a', 'X6-k', 'X6-c', 'X6-f'],
      dtype='object')

In [330]:
data_1.to_csv('C:/Users/DELL/Downloads/Feature Engineering/mercedes/train.csv/data.csv')

In [331]:
data_1

      X1  X2 X3 X4  X5 X6
0      v   n  f  d   t  a
1      b  ai  a  d   b  g
2      v  as  f  d   a  j
3      l   n  f  d   z  l
4      s  as  c  d   y  i
...   ..  .. .. ..  .. ..
4204   h  as  f  d  aa  j
4205  aa  ai  d  d  aa  j
4206   v  as  f  d  aa  d
4207   v  as  a  d  aa  c
4208  aa  ai  c  d  aa  g

[4209 rows x 6 columns]