In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [7]:
Data = pd.read_csv('C:/Users/DELL/Downloads/weatherHistory.csv/weatherHistory.csv')

In [25]:
Data.head(1)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,1,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.

In [10]:
Data.shape

(96453, 12)

In [37]:
Data.describe()

,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.0,96453.000000
mean,0.888941,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,0.0,1003.235956
std,0.314207,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,0.0,116.969906
min,0.000000,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,1.000000,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,0.0,1011.900000
50%,1.000000,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,0.0,1016.450000
75%,1.000000,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000
max,1.000000,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000

In [14]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

In [23]:
Data.isnull().sum()

Formatted Date              0
Summary                     0
Precip Type                 0
Temperature (C)             0
Apparent Temperature (C)    0
Humidity                    0
Wind Speed (km/h)           0
Wind Bearing (degrees)      0
Visibility (km)             0
Loud Cover                  0
Pressure (millibars)        0
Daily Summary               0
dtype: int64

In [20]:
Data.value_counts(Data['Precip Type'])

Precip Type
rain    85741
snow    10712
dtype: int64

In [18]:
Data.loc[Data['Precip Type'].isnull(),'Precip Type']='rain'

In [22]:
Data.loc[Data['Precip Type']=='rain','Precip Type']=1
Data.loc[Data['Precip Type']=='snow','Precip Type']=0

In [26]:
Data['Precip Type']=Data['Precip Type'].astype(object).astype(int)

In [27]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               96453 non-null  int32
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), int32(1), object(3)
memory usage: 8.5+ MB

In [28]:
Data_1 = Data[list(Data.dtypes[Data.dtypes!='object'].index)]

In [29]:
Weather_y = Data_1.pop('Temperature (C)')
Weather_x = Data_1

In [31]:
Weather_y

0         9.472222
1         9.355556
2         9.377778
3         8.288889
4         8.755556
           ...
96448    26.016667
96449    24.583333
96450    22.038889
96451    21.522222
96452    20.438889
Name: Temperature (C), Length: 96453, dtype: float64

In [32]:
x_train , x_test , y_train, y_test = train_test_split(Weather_x,Weather_y,test_size=0.2,random_state=42)

In [33]:
x_train.head(2)

,Precip Type,Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
43345,1,15.438889,0.96,10.8675,0.0,5.1359,0.0,1014.97
66832,1,1.133333,0.67,33.5041,302.0,11.3988,0.0,1010.07

In [34]:
model = LinearRegression()

In [35]:
model.fit(x_train,y_train)

LinearRegression()

In [36]:
pred = model.predict(x_test)

In [39]:
mean_squared_error(y_test,pred)

0.8985428386217441

In [40]:
pd.DataFrame({'actual':y_test,
             'predection': pred,
             'diff': (y_test-pred)})

          actual  predection      diff
87206  28.122222   28.112687  0.009535
33421  10.000000    9.591969  0.408031
6807   14.400000   15.166370 -0.766370
37340   1.016667    0.104039  0.912628
3016   -0.122222   -0.229834  0.107611
...          ...         ...       ...
94353   9.183333    8.857766  0.325567
56859  17.894444   17.380859  0.513586
9080   10.716667   11.991410 -1.274743
47825  24.888889   24.823113  0.065776
43409  18.861111   19.519997 -0.658886

[19291 rows x 3 columns]

In [42]:
from sklearn.preprocessing import PolynomialFeatures

ploy = PolynomialFeatures(degree= 4)
x_ploy = ploy.fit_transform(x_train)

ploy.fit(x_ploy,y_train)
lin1 = LinearRegression()
lin1.fit(x_ploy,y_train)

LinearRegression()

In [43]:
pred_1 = lin1.predict(ploy.fit_transform(x_test))

In [44]:
mean_squared_error(y_test,pred_1)

0.0962397722554636

In [45]:
pd.DataFrame({'Actual':y_test,
             'pred':pred_1,
             'diff':(y_test-pred_1)})

          Actual       pred      diff
87206  28.122222  28.515146 -0.392923
33421  10.000000   9.388829  0.611171
6807   14.400000  14.470618 -0.070618
37340   1.016667   0.927763  0.088904
3016   -0.122222  -0.560646  0.438423
...          ...        ...       ...
94353   9.183333   8.733512  0.449821
56859  17.894444  17.893064  0.001380
9080   10.716667  11.271642 -0.554976
47825  24.888889  24.758416  0.130473
43409  18.861111  18.639170  0.221942

[19291 rows x 3 columns]

In [46]:
from sklearn.tree import DecisionTreeRegressor
dec_reg = DecisionTreeRegressor(random_state=0)
dec_reg.fit(x_train,y_train)

DecisionTreeRegressor(random_state=0)

In [47]:
pred_2 = dec_reg.predict(x_test)

In [48]:
mean_squared_error(y_test,pred_2)

0.005596748883730726

In [49]:
pd.DataFrame({'actual':y_test,
             'pred':pred_2,
             'diff':(y_test-pred_2)})

          actual       pred          diff
87206  28.122222  28.027778  9.444444e-02
33421  10.000000  10.000000  0.000000e+00
6807   14.400000  14.400000 -1.776357e-15
37340   1.016667   1.038889 -2.222222e-02
3016   -0.122222  -0.166667  4.444444e-02
...          ...        ...           ...
94353   9.183333   9.177778  5.555556e-03
56859  17.894444  17.894444  0.000000e+00
9080   10.716667  10.716667 -1.776357e-15
47825  24.888889  24.888889  0.000000e+00
43409  18.861111  18.861111  1.776357e-14

[19291 rows x 3 columns]

In [50]:
from sklearn.ensemble import RandomForestRegressor
reg_fort = RandomForestRegressor(max_depth=10,random_state=0,n_estimators=100)
reg_fort.fit(x_train,y_train)

RandomForestRegressor(max_depth=10, random_state=0)

In [51]:
pred_3 = reg_fort.predict(x_test)
mean_squared_error(y_test,pred_3)

0.008182573698583617

In [ ]:
RandomForestRegressor => 0.008182573698583617

In [52]:
pd.DataFrame({'actual':y_test,
             'pred':pred_3,
             'diffe':(y_test-pred_3)})

          actual       pred     diffe
87206  28.122222  27.930277  0.191945
33421  10.000000   9.927569  0.072431
6807   14.400000  14.396507  0.003493
37340   1.016667   1.061239 -0.044572
3016   -0.122222  -0.283150  0.160927
...          ...        ...       ...
94353   9.183333   9.111447  0.071886
56859  17.894444  17.889631  0.004813
9080   10.716667  10.712210  0.004457
47825  24.888889  24.885003  0.003886
43409  18.861111  18.865510 -0.004399

[19291 rows x 3 columns]

In [53]:
reg_fort_1 = RandomForestRegressor(max_depth=50,random_state=0,n_estimators=100)
reg_fort_1.fit(x_train,y_train)

RandomForestRegressor(max_depth=50, random_state=0)

In [54]:
pred_4 = reg_fort_1.predict(x_test)

In [55]:
mean_squared_error(y_test,pred_4)

0.0018419900578917766

In [ ]:
RandomForestRegressor => 0.0018419900578917766

In [56]:
pd.DataFrame({'Actual':y_test,
             'pred':pred_4,
             'diff':(y_test-pred_4)})

          Actual       pred          diff
87206  28.122222  28.019000  1.032222e-01
33421  10.000000   9.999889  1.111111e-04
6807   14.400000  14.400000 -1.065814e-14
37340   1.016667   1.007611  9.055556e-03
3016   -0.122222  -0.100833 -2.138889e-02
...          ...        ...           ...
94353   9.183333   9.165611  1.772222e-02
56859  17.894444  17.894444  3.552714e-14
9080   10.716667  10.716722 -5.555556e-05
47825  24.888889  24.888944 -5.555556e-05
43409  18.861111  18.861111  2.131628e-14

[19291 rows x 3 columns]

In [ ]:
Lenier_reg => 0.8985428386217441

PolynomialFeatures => 0.0962397722554636

DecisionTreeRegressor => 0.005596748883730726

RandomForestRegressor (max_depth=10)=> 0.008182573698583617

RandomForestRegressor (max_depth=50)=> 0.0018419900578917766